@font-face {
  font-family: 'DroidSansRegular';
  src: url('DroidSans-webfont.eot');
  src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
       url('DroidSans-webfont.woff') format('woff'),
       url('DroidSans-webfont.ttf') format('truetype'),
       url('DroidSans-webfont.svg#DroidSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeue-webfont.eot');
  src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
html, body {
    width: 100%;
}
body {
    background: #cecece;
    padding-top: 40px;
}
body {
    font: 13px/19px 'DroidSansRegular', sans-serif !important;}
}
h1, h2, h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', 'Arial', sans-serif;
    line-height: 0.7em;
    font-weight: normal;
}
h1 {
    font-size: 35px;
    text-shadow: -1px -1px 0 rgba(80, 80, 80, 0.5);
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 22px;
}
a, a:visited, a:link, a:hover {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}
.button {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: 15px 0;
  text-align:center;
  margin-bottom: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  width: 100%;
  height: 100%;
  display:block;
}
.button:hover {
    background: #eee;
}
.p0 {color: #771536} 
.p1 {color: #0E4647} 
.p2 {color: #597725}
.p3 {color: #302649}
.p4 {color: #CCAA17}
.p5 {color: #771536} 
.p6 {color: #0E4647} 
.p7 {color: #597725}
.p8 {color: #302649}
.p9 {color: #CCAA17}
#content {
    width: 215px;
    margin: 0 0 30px 30px;
}
#header {
    position: fixed;
    width: 100%;
    top: 20px;
    height: 40px;
}
#header h1 {
    padding-left: 20px;
    width: 970px;
    margin: 0 auto;
    text-align: left;
}
#header h1 span.grey {
    color:#999;
}
#fixinner {
    margin: 0 auto;
    position: relative;
    width: 990px;
}
#fixedwrap {
    position: fixed;
    width: 100%;
    top: 60px;
}
#menu {
    width: 260px;
}
#scoreboard {
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
#scoreboard li {
    width: 100%;
    font-size: 1.1em;
    /*display: none;*/
    margin-bottom: 20px;
    position: relative;
    text-align: right;
    float: left;
    clear: both;
}
#scoreboard li h3 {
    clear: both;
    float: left;
    width: 100px;
    text-align: left;
}
#scoreboard li h2 {
    float: right;
    text-align: right;
    width: 100px;
    font: bold 35px/20px "Arial Black", sans-serif; 
    text-shadow: 0px 2px 3px #555;
}
#wrap {
    margin: 20px auto 0 auto;
    position: relative;
    width: 990px;
}
#wrap #content {
    margin-left: 275px;
    padding-bottom: 25px;
    width: 310px;
    float: left;
    position: relative;
    z-index: 2;
}